# Django dependencies
Django==4.2.3
djangorestframework==3.14.0

# Data scraping and analysis dependencies
beautifulsoup4==4.12.2
numpy==1.24.3
pandas==2.0.3

# Data visualization dependencies
matplotlib==3.7.1
seaborn==0.12.2

# To handle large CSV files efficiently
pandas-profiling==3.3.0

# To manage cross-origin requests
django-cors-headers==3.14.0
