/* main.css */

/* Home Page Styles */
.home_detail {
    margin-bottom: 30px;
    text-align: center;
}

.home_detail h2 {
    margin-bottom: 10px;
}

.home_detail p {
    margin-bottom: 10px;
}

.home_detail .btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home_detail .btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
