{% extends "analytics/base.html" %}

{% block content %}

<div class="text-center">
    <h1 >JOSAA College Predictor</h1>
</div>
    <div class="container">
        <br/>

        
        <form method="POST" action="/predictor">
            {% csrf_token %}
            <div class="mb-3">
                <label for="Seat_Type" class="form-label">Seat Type</label>
                <select class="form-select" id="Seat_Type" name="Seat_Type" aria-describedby="emailHelp">
                    <option value="OPEN">OPEN</option>
                    <option value="OBC-NCL">OBC-NCL</option>
                    <option value="SC">SC</option>
                    <option value="ST">ST</option>
                    <option value="EWS">EWS</option>
                    <option value="OPEN (PwD)">OPEN (PwD)</option>
                    <option value="OBC-NCL (PwD)">OBC-NCL (PwD)</option>
                    <option value="EWS (PwD)">EWS (PwD)</option>
                    <option value="SC (PwD)">SC (PwD)</option>
                    <option value="ST (PwD)">ST (PwD)</option>
                </select>
            </div>
        
            <div class="mb-3">
                <label for="Rank" class="form-label">Rank</label>
                <input Rank="text" class="form-control" id="Rank" name="Rank" placeholder="Enter your (expected) Rank"
                aria-describedby="emailHelp" />
            </div>
        
            <div class="mb-3">
                <label for="College" class="form-label">College</label>
                <select class="form-select" id="College" name="College" aria-describedby="emailHelp">
                    <option value="All">All</option>
                    <option value="Indian Institute of Technology Bhubaneswar">Indian Institute of Technology Bhubaneswar</option>
                    <option value="Indian Institute of Technology Mandi">Indian Institute of Technology Mandi</option>
                    <option value="Indian Institute of Technology Guwahati">Indian Institute of Technology Guwahati</option>
                    <option value="Indian Institute of Technology Patna">Indian Institute of Technology Patna</option>
                    <option value="Indian Institute of Technology Delhi">Indian Institute of Technology Delhi</option>
                    <option value="Indian Institute of Technology Bombay">Indian Institute of Technology Bombay</option>
                    <option value="Indian Institute of Technology Gandhinagar">Indian Institute of Technology Gandhinagar</option>
                    <option value="Indian Institute of Technology Madras">Indian Institute of Technology Madras</option>
                    <option value="Indian Institute of Technology Kharagpur">Indian Institute of Technology Kharagpur</option>
                    <option value="Indian Institute of Technology Kanpur">Indian Institute of Technology Kanpur</option>
                    <option value="Indian Institute of Technology Roorkee">Indian Institute of Technology Roorkee</option>
                    <option value="Indian Institute of Technology (BHU) Varanasi">Indian Institute of Technology (BHU) Varanasi</option>
                    <option value="Indian Institute of Technology Hyderabad">Indian Institute of Technology Hyderabad</option>
                    <option value="Indian Institute of Technology Jodhpur">Indian Institute of Technology Jodhpur</option>
                    <option value="Indian Institute of Technology Dharwad">Indian Institute of Technology Dharwad</option>
                    <option value="Indian Institute of Technology (ISM) Dhanbad">Indian Institute of Technology (ISM) Dhanbad</option>
                    <option value="Indian Institute of Technology Palakkad">Indian Institute of Technology Palakkad</option>
                    <option value="Indian Institute of Technology Bhilai">Indian Institute of Technology Bhilai</option>
                    <option value="Indian Institute of Technology Ropar">Indian Institute of Technology Ropar</option>
                    <option value="Indian Institute of Technology Goa">Indian Institute of Technology Goa</option>
                    <option value="Indian Institute of Technology Tirupati">Indian Institute of Technology Tirupati</option>
                    <option value="Indian Institute of Technology Jammu">Indian Institute of Technology Jammu</option>
                    <option value="Indian Institute of Technology Indore">Indian Institute of Technology Indore</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="Gender" class="form-label">Gender</label>
                <select class="form-select" id="Gender" name="Gender" aria-describedby="emailHelp">
                    <option value="All">All</option>
                    <option value="Gender-Neutral">Gender-Neutral</option>
                    <option value="Female-only (including Supernumerary)">Female-only</option>
                </select>
            </div>
        
            <button Rank="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />
        Rank={{Rank}}<br />
        Seat Type={{Seat_Type}}<br />
        {% if filtered_data %}
        <table class="table">
        <thead>
            <tr>
            <th>Institute</th>
            <th>Academic</th>
            <th>Seat Type</th>
            <th>Quota</th>
            <th>Gender</th>
            <th>Opening Rank</th>
            <th>Closing Rank</th>
            <th>Year</th>
            <th>Round</th>
            </tr>
        </thead>
        <tbody>
            {% for row in filtered_data %}
                <tr>
                <td>{{ row.Institute }}</td>
                <td>{{ row.Academic }}</td>
                <td>{{ row.Seat_Type }}</td>
                <td>{{ row.Quota }}</td>
                <td>{{ row.Gender }}</td>
                <td>{{ row.Opening_Rank }}</td>
                <td>{{ row.Closing_Rank }}</td>
                <td>{{ row.Year }}</td>
                <td>{{ row.Round }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        <p>No data available.</p>
        {% endif %}
    </div>
{% endblock content %}