{% extends "analytics/base.html" %}
{% load static %}
{% block content %}
<div class="container_2">
    <h1>About Us</h1>
    
    <div class="card-container">
        <div class="card">
            <img src="{% static 'analytics/shubham.jpg' %}" alt="Person 1">
            <h3>Shubham Kumar Jha</h3>
            <a href="https://www.linkedin.com/in/shubham-kumar-jha-9685a8250/" target="_blank">LinkedIn</a>
            <a href="https://github.com/skrj-gh" target="_blank">GitHub</a>
        </div>
        <div class="card">
            <img src="{% static 'analytics/aryan.jpg' %}" alt="Person 2">
            <h3>Aryan Patel</h3>
            <a href="https://www.linkedin.com/in/aryan-patel-168281248/" target="_blank">LinkedIn</a>
            <a href="https://github.com/Blaster2398" target="_blank">GitHub</a>
        </div>
        <div class="card">
            <img src="{% static 'analytics/shreyash.jpg' %}" alt="Person 3">
            <h3>Shreyash Bharti</h3>
            <a href="https://www.linkedin.com/in/shreyash-bharati-328a43278/" target="_blank">LinkedIn</a>
            <a href="https://github.com/Shreyashiitg" target="_blank">GitHub</a>
        </div>
    </div>
</div>
{% endblock content %}
